{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 60.43407726062103,
    "longitude": 23.27582895755768,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Europe/Helsinki",
    "external_url": null,
    "internal_url": null,
    "currency": "EUR",
    "country": "FI",
    "language": "en",
    "radius": 26
  }
}